/* main colors 

background: #FFFFFF;- основний колір фону
background: #F5F4FA; - додатковий колір фону
background: #2F303A; - accent колір фону
color: #212121; - key color of text
background: #2196F3; - hover color
background: #FFFFFF; - third-class text color
background:  #757575; - secondary text color
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bgc-color: #ffffff;
  --accent-color: #2196f3;
  --accent-bg-color: #2f303a;
}

body {
  background-color: var(--primary-bgc-color);
  color: #212121;

  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  /* outline: 1px solid magenta; */
}

/* HEADER */

.page-head,
.site-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid #eeeeee;
}

.logo {
  color: #000000;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

.studio {
  color: #fff;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list,
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item + .item {
  margin-left: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-text-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

.our-progects {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.btn {
  background-color: #f5f4fa;
  color: var(--primary-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: transparent;

  padding: 6px 22px;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.progects {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-bottom: -30px;
}

.progects > .item {
  flex-basis: calc(100% / 3 - 30px);

  margin-left: 30px;
  margin-bottom: 30px;
}
.progect {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0px 0px;
  width: 370px;
}

.progect-name {
  color: var(--secondary-text-color);

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  margin: 0px 0px;
  width: 370px;
}

.group-item {
  background-color: #fff;
  padding: 20px 24px;
  width: 370px;
  height: 110px;
  border: 1px solid #eeeeee;
  margin-right: 0;
}
.progects img {
  display: block;
  height: auto;
}
h2 {
  max-width: 322px;
}

p {
  max-width: 322px;
}

/*  Footer */

.site-footer {
  background-color: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo.footer {
  display: block;
  /* padding-top: 60px; */
  margin-bottom: 20px;
}

.addres-nav .item + .item {
  margin-top: 9px;
}

.addres-nav .link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.addres-nav .link:hover,
.addres-nav .link:focus {
  color: var(--accent-color);
}

.map {
  color: #fff;
}
.map:hover,
.map:focus {
  color: var(--accent-color);
}
